@model ProyectoIIITrimProgramacion_Mecarap.Models.ViewModels.VehiculoVM
@{
    ViewData["Title"] = "Vehículo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 offset-md-4 col-md-4 text-center">
            <h1>Editar Vehiculo</h1>
        </div>
        <div class="col-12 col-md-4"></div>
        <div class="col-10 offset-1 offset-md-2 col-md-9 card">
            <form method="post" class="m-5" asp-action="Guardar" asp-controller="Vehiculo">
                <input asp-for="Descripcion" type="text" class="form-control" placeholder="Descripcion" id="descripcion" value="@Model.Descripcion"><br>
                <input asp-for="Modelo" type="text" class="form-control" placeholder="Modelo" id="modelo" value="@Model.Modelo"><br>
                
                @if (Model.tiposAuto.Count() != 0)
                {
                    <label>Tipo de Auto</label>
                    <select asp-for="IdTipoAuto" class="form-control m-1">
                        @foreach (var tipo in Model.tiposAuto)
                        {
                            if (tipo.Id == Model.IdTipoAuto)
                            {
                                <option selected value="@tipo.Id">
                                    <span>
                                        @tipo.Descripcion
                                    </span>
                                </option>
                            }
                            else
                            {
                                <option value="@tipo.Id">
                                    <span>
                                        @tipo.Descripcion
                                    </span>
                                </option>
                            }
                        }
                    </select>
                }
                else
                {
                    <label>No hay datos disponibles para tipos de auto</label>    
                }

                @if (Model.clientes.Count() != 0)
                {
                    <label>Propietario</label>
                    <select asp-for="IdPropietario" class="form-control m-1">
                        @foreach (var cliente in Model.clientes)
                        {
                            if (cliente.Id == Model.IdPropietario)
                            {
                                <option selected value="@cliente.Id">
                                    <span>
                                        @cliente.Nombre
                                    </span>
                                </option>
                            }
                            else
                            {
                                <option value="@cliente.Id">
                                    <span>
                                        @cliente.Nombre
                                    </span>
                                </option>
                            }
                        }
                    </select>
                }
                else
                {
                    <label>No hay datos disponibles para clientes</label>
                }
                <div @Model.Notificacion</div>
                @if (Model.clientes.Count() == 0 || Model.tiposAuto.Count() == 0)
                {
                    <button disabled class="btn btn-outline-success" type="submit">Editar</button>
                }
                else
                {
                    <button class="btn btn-outline-success" type="submit">Editar</button>
                }
                <a asp-action="Index" asp-controller="Vehiculo" class="btn btn-outline-danger">Cancelar</a>
            </form>
        </div>
        <div class="col-1 col-md-1"></div>
    </div>
</div>