@model ProyectoIIITrimProgramacion_Mecarap.Models.ViewModels.VehiculoVM
@{
	ViewData["Title"] = "Vehículo";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 offset-md-4 col-md-4 text-center">
            <h1>Guardar Vehiculo</h1>
        </div>
        <div class="col-12 col-md-4"></div>
        <div class="col-10 offset-1 offset-md-2 col-md-9 card">
            <form method="post" class="m-5" asp-action="Guardar" asp-controller="Vehiculo">
                <input asp-for="Descripcion" type="text" class="form-control" placeholder="Descripcion" id="descripcion"><br>
                <input asp-for="Modelo" type="text" class="form-control" placeholder="Modelo" id="modelo"><br>
                <label>Tipo de Auto</label>
                <select asp-for="IdTipoAuto" class="form-control m-1">
                    @foreach (var tipo in Model.tiposAuto)
                    {
                        <option value="@tipo.Id">
                            <span>
                                @tipo.Descripcion
                            </span>
                        </option>
                    }
                </select>
                <label>Propietario</label>
                <select asp-for="IdPropietario" class="form-control m-1">
                    @foreach (var cliente in Model.clientes)
                    {
                        <option value="@cliente.Id">
                            <span>
                                @cliente.Nombre
                            </span>
                        </option>
                    }
                </select>
                <div
                    @Model.Notificacion
                </div>
                <button class="btn btn-outline-primary" type="submit">Ingresar</button>
                <a asp-action="Index" asp-controller="Vehiculo" class="btn btn-outline-danger">Cancelar</a>
            </form>
        </div>
        <div class="col-1 col-md-1"></div>
    </div>
</div>